{% for i in player_indices() -%}
execute if entity @e[type=#clock:player,tag=clock.nominated,tag=clock.player{{ i }}] run function clock:start-voting {first: 'player{{ i%num_players()+1 }}'}
{% endfor -%}
